<h2>Ola, muito obrigado por nos acompanhar <%= @contact.email %> </h2>

<p>Fique de olho no seu email, posi sempre tem novidades aqui pra você !</p>
<br/>

<p>Att, <%= link_to 'React Blog', 'https://react-blog-rails.herokuapp.com' %></p>